body{
    background-color: white;
    font-family: sans-serif;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #666;
    
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}


